@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.board-todo-task {
  display: flex;
  align-items: center;
  /* background-color: white; */
  border-radius: 2px;
}

.board-todo-task-dragging {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 2px;
}

.board-todo-task-text {
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: start;
  padding: 4px 1px;
  margin: 2px;
  max-width: 150px;
}

.input-wrapper {
  max-width: 90%;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .2s;
  padding: 4px;
}

/* .button-wrapper {
  display: block;
  align-items: center;
  justify-content: center; 
} */

.update-btn {
  display: none;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 4px;
  transition: transform .2s;
}

.update-btn:hover {
  transform: scale(1.3);
}

.delete-btn {
  display: none;
  height: 14px;
  margin-top: 2px;
  margin-bottom: 4px;
  transition: transform .2s;
}

.delete-btn:hover {
  transform: scale(1.3);
}

.input-wrapper:hover {
  transform: scale(1.001);
}

.input-wrapper:hover > .button-wrapper > .delete-btn {
  display: block;
}

.input-wrapper:hover > .button-wrapper > .update-btn {
  display: block;
}

@media screen and (min-width: 900px) {
  .board-todo-task-text {
    font-size: 19px;
  }
}

@media screen and (min-width: 1024px) {
  .board-todo-task-text {
    font-size: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .board-todo-task-text {
    font-size: 26px;
  }
}
