@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
  position: static;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-cooper {
  fill: #4AC959;
  width: 43.54px;
  height: 50px;
  position: static;
}

.logo-title {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  right: -1vw;
}

.login-button {
  background-color: black;
  border: none;
  height: 40px;
  width: 120px;
  color: white;
  top: 54px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: large;
}

.Title {
  position: absolute;
  margin-left: 15%;
}

.title-first-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  margin-bottom: -40px;
}

.title-second-text {
  font-family: 'Montserrat';
  color: #4AC959;
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 44px;
}

.title-third-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

.title-button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  background-color: #4AC959;
  color:  #FFFFFF;
  text-align: center;
  border-radius: 10px;
  border: none;
  width: 250px;
  height: 64px;
}

.slide-background {
  /* display: flex; */
  position: absolute;
  top: 450px;
  margin-left: 15%;
}

.logo-background {
 height: 300px;
 width: 250px;
 z-index: 0;
}

.pic-background {
  position: absolute;
  height: 180px;
  width: 170px;
  left: 52px;
  top: 57px;
  z-index: 1;
}

.scroll-down-button {
  display: none;
  position: absolute;
  border: none;
  height: 1px;
  width: 40px;
  top: 748px;
  left: 50%;
}