@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
  font-weight: 400;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(6, 21, 43, 0.08);
  border-radius: 4px;
}

.form-contact > label > input {
  display: block;
  padding: 9px;
  border: 1px solid #06152B;
  border-radius: 4px;
  margin-bottom: 10px;
  color: black ;
}

.middle-inputs > label> input {
  display: block;
  padding: 9px;
  border: 1px solid #06152B;
  border-radius: 4px;
  margin-bottom: 10px;
  color: black ;
}

.form-contact > label > textarea {
  display: block;
  padding: 9px;
  border: 1px solid #06152B;
  border-radius: 4px;
  margin-bottom: 10px;
}

.message-input {
  height: 160px;
  padding: 9px;
  color: black;
}

.send-message-button {
  border: none;
  border-radius: 4px;
  background-color: #46BD62;
  color: white;
  font-family: 'Montserrat';
  font-weight: 700;
  width: 190px;
  height: 40px;
  margin-bottom: 10px;
}

@media screen and (min-width: 601px) {  
  .form-contact > label > input {
    width: 200px;
  }
  
  .form-contact > label > textarea {
    width: 200px;
  }

  .middle-inputs > label > input {
    width: 200px;
  }
  
  .send-message-button {
    width: 220px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 900px) {
  .form-contact {
    max-width: 80%;
    width: 60%;
  }

  .middle-inputs {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .middle-inputs > label > input {
    width: calc((390px / 2) - 20px);
  } 

  .form-contact > label > input {
    width: 390px;
  }
  
  .form-contact > label > textarea {
    width: 390px;
  }
  
  .send-message-button {
    width: 410px;
    margin-bottom: 10px;
  }
}