.slide-background {
  /* display: flex; */
  position: absolute;
  top: 450px;
  margin-left: 15%;
}

.logo-background {
 height: 300px;
 width: 250px;
 z-index: 0;
}

.pic-background {
  position: absolute;
  height: 180px;
  width: 170px;
  left: 52px;
  top: 57px;
  z-index: 1;
}

@media screen and (min-width: 601px) {
  .slide-background {
    position: absolute;
    left: 261px;
    top: 92px
  }

  .logo-background {
    height: 350px;
    width: 250px;
    z-index: 0;
   }
   
   .pic-background {
     position: absolute;
     height: 220px;
     width: 180px;
     left: 42px;
     top: 70px;
     z-index: 1;
   }
}

@media screen and (min-width: 766px) {
  .slide-background {
    position: absolute;
    left: 350px;
    top: 110px
  }

  .logo-background {
    height: 300px;
    width: 260px;
    z-index: 0;
   }
   
   .pic-background {
     height: 220px;
     width: 180px;
     left: 42px;
     top: 40px;
     z-index: 1;
   }
}

@media screen and (min-width: 900px) {
  .slide-background {
    position: absolute;
    left: 335px;
    top: 50px
  }

  .logo-background {
    height: 480px;
    width: 440px;
    z-index: 1;
   }
   
   .pic-background {
     height: 300px;
     width: 260px;
     left: 92px;
     top: 80px;
     z-index: 2;
   }
}

@media screen and (min-width: 1024px) {
  .slide-background {
    left: 435px;
  }
}

@media screen and (min-width: 1280px) {
  .slide-background {
    position: absolute;
    left: 606px;
    top: 50px
  }

  .logo-background {
    height: 540px;
    width: 500px;
    z-index: 1;
   }
   
   .pic-background {
     height: 380px;
     width: 340px;
     left: 92px;
     top: 80px;
     z-index: 2;
   }
}

@media screen and (min-width: 1366px) {
  .slide-background {
    position: absolute;
    left: 670px;
    top: 30px
  }

  .logo-background {
    height: 580px;
    width: 540px;
    z-index: 1;
   }
   
   .pic-background {
     height: 380px;
     width: 340px;
     left: 92px;
     top: 80px;
     z-index: 2;
   }
}

@media screen and (min-width: 1536px) {
  .slide-background {
    position: absolute;
    left: 790px;
    top: 20px
  }

  .logo-background {
    height: 590px;
    width: 550px;
    z-index: 1;
   }
   
   .pic-background {
     height: 380px;
     width: 340px;
     left: 92px;
     top: 80px;
     z-index: 2;
   }
}

@media screen and (min-width: 1680px) {
  .slide-background {
    position: absolute;
    left: 1000px;
    top: 10px;
  }

  .logo-background {
    height: 690px;
    width: 640px;
    z-index: 1;
   }
   
   .pic-background {
     height: 420px;
     width: 380px;
     left: 112px;
     top: 115px;
     z-index: 2;
   }
}

@media screen and (min-width: 1980px) {
  .slide-background {
    position: absolute;
    left: 1100px;
    top: 40px;
  }

  .logo-background {
    height: 690px;
    width: 640px;
    z-index: 1;
   }
   
   .pic-background {
     height: 420px;
     width: 380px;
     left: 112px;
     top: 115px;
     z-index: 2;
   }
}

/* @media screen and (min-width: 2560px) {
  .slide-background {
    position: absolute;
    left: 790px;
    top: 20px;
  }

  .logo-background {
    height: 590px;
    width: 550px;
    z-index: 1;
    background-color: aqua;
   }
   
   .pic-background {
     height: 380px;
     width: 340px;
     left: 92px;
     top: 80px;
     z-index: 2;
   }
} */