.slide-background {
  /* display: flex; */
  position: absolute;
  top: 450px;
  margin-left: 15%;
}

.logo-background {
 height: 300px;
 width: 250px;
 z-index: 0;
}

.pic-background {
  position: absolute;
  height: 180px;
  width: 170px;
  left: 52px;
  top: 57px;
  z-index: 1;
}

@media screen and (min-width: 767px) {
  .slide-background {
    position: absolute;
    left: 353px;
    top: 92px
  }

  .logo-background {
    height: 400px;
    width: 300px;
    z-index: 0;
   }
   
   .pic-background {
     position: absolute;
     height: 260px;
     width: 220px;
     left: 52px;
     top: 57px;
     z-index: 1;
   }
}