@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.todo-box {
  position: relative;
  width: 100%;
  height: 150px;
  background: black;
  transform: skewY(-8deg);
  top: 700px
}

.todo-title {
  color: white;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  max-width: 50em;
  transform: skewY(8deg);
  position: relative;
  left: 30%;
  top: 30%
}

.todo-text {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: white;
  transform: skewY(8deg);
}

.top-border {
  height: 10px;
  width: 100%;
  background-color: #E88D39;
  margin-bottom: -20px;
}

.board-todo-title {
  text-align: center;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 600;
  margin-bottom: -2px;
}

.board-todo-head {
  font-weight: 400;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.board-todo-tasks {
  position: relative;
  width: 160px;
  height: 300px;
  top: 750px;
  left: 20px;
  box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
}

.board-todo-task{
  font-family: 'Montserrat';
  font-weight: 400;
}

/* .board-todo-list {
  display: flex;
} */

/* .board-done-tasks {
  position: relative;
  width: 300px;
  height: 300px;
  top: 750px;
  border: 2px solid pink;
} */