.slider-wrapper {
  position: relative;
  top: 430px;
  left: 43px;
  max-width: 250px;
  gap: 10px;
}

.slick-list {
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
  padding: 4px;
  position: relative;
  left: -20px;
}

.slick-track {
  overflow: hidden;
}