.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-first-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  margin-bottom: -50px;
}

.title-second-text {
  font-family: 'Montserrat';
  color: #4AC959;
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  margin-top: 5px;
}

.title-third-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

.title-button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  background-color: #4AC959;
  color:  #FFFFFF;
  text-align: center;
  border-radius: 10px;
  border: none;
  width: 250px;
  height: 64px;
}

@media screen and (min-width: 601px) {
  .Title {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-left: 50px;
  }

  .title-first-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    margin-bottom: -40px;
  }
  
  .title-second-text {
    font-family: 'Montserrat';
    color: #4AC959;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
  }
  
  .title-third-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
  }
  
  .title-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    background-color: #4AC959;
    color:  #FFFFFF;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    width: 250px;
    height: 64px;
  }
}

@media screen and (min-width: 900px) {
  .title-first-text {
    font-size: 65px;
  }
  
  .title-second-text {
    font-size: 40px;
  }
  
  .title-third-text {
    font-size: 18px;
  }
  
  .title-button {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .title-first-text {
    font-size: 75px;
  }
  
  .title-second-text {
    font-size: 50px;
  }
  
  .title-third-text {
    font-size: 21px;
  }
  
  .title-button {
    font-size: 23px;
  }
}