.contact-wrapper {
  position: relative;
  top: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (min-width: 601px) {
  .contact-wrapper {
    position: inherit;
    margin-top: -210px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}