@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');

header {
  position: static;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-cooper {
  fill: #4AC959;
  width: 43.54px;
  height: 50px;
  position: static;
}

.logo-title {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  right: -1vw;
}

.login-button {
  background-color: black;
  /* border-radius: 10px; */
  height: 40px;
  width: 120px;
  color: white;
  top: 54px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: large;
}