.elipse-img {
  position: relative;
  border-radius: 100px;
  z-index: 2;
}

.rectangle-graphics {
  position: relative;
  top: 100px;
  left: -50px;
  height: 20px;
  width: 200px;
  background-color: #46BD62;
}

@media screen and (min-width: 900px) {
  .elipse-img {
    border-radius: 150px;
    height: 250px;
  }

  .rectangle-graphics {
    top: 140px;
    left: -70px;
  }
}