@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.top-border-todo {
  height: 10px;
  width: 100%;
  background-color: #E88D39;
  margin-bottom: -20px;
}

.wrapper-todo-board {
  display: flex;
  position: relative;
  flex-grow: 1;
  top: 500px;
  /* max-width: 100%; */
  /* max-height: 90%; */
  align-items: flex-start;
  justify-content: space-around;
}

.board-todo-title {
  text-align: center;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 600;
  margin-bottom: -2px;
}

.board-todo-head {
  font-weight: 400;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 10px;
}

.board-todo-tasks {
  padding: 1px;
  position: relative;
  height: auto;
  min-height: 190px;
  width: 180px;
  /* min-width: 160px; */
  /* left: 7px; */
  box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.2s ease;
}

.board-todo-tasks-active {
  padding: 1px;
  position: relative;
  height: auto;
  min-height: 190px;
  width: 180px;
  /* min-width: 160px; */
  /* left: 7px; */
  box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  transition: background-color 0.2s ease;
}

/* .task-list-active {
  background-color: #4AC959; 
} */

.board-todo-task {
  font-family: 'Montserrat';
  font-weight: 400;
}

.erase-all-button {
  background-color: black;
  border-radius: 4px;
  position: relative;
  border: none;
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
  width: 100px;
  height: auto;
  min-height: 30px;
  text-align: center;
  /* left: 25px; */
}

/* .board-todo-list {
  display: flex;
} */

.board-done-tasks {
  padding: 1px;
  position: relative;
  height: auto;
  min-height: 190px;
  width: 180px;
  /* min-width: 160px; */
  /* left: 7px; */
  box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.2s ease;
}

.board-done-tasks-active {
  padding: 1px;
  position: relative;
  height: auto;
  min-height: 190px;
  width: 180px;
  /* min-width: 160px; */
  /* left: 7px; */
  box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.2s ease;
  background-color: lightblue;
}

.top-border-done {
  height: 10px;
  width: 100%;
  background-color: #4AC959;
  margin-bottom: -20px;
}

.board-done-title {
  text-align: center;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 600;
  margin-bottom: -2px;
}

.board-done-head {
  font-weight: 400;
  font-family: 'Montserrat';
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

.board-how-many-tasks-done-text {
  font-weight: 700;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 601px) {
  .wrapper-todo-board {
    margin-top: 95px;
    position: inherit;
    justify-content: space-evenly;
  }
  
  .board-todo-title {
    font-size: 40px;
  }
  
  .board-todo-head {
    font-size: 25px;
  }
  
  .board-todo-tasks {
    height: auto;
    min-height: 190px;
    width: 40%;
  }
  
  .board-todo-tasks-active {
    height: auto;
    min-height: 290px;
    width: 40%;
  }
  
  .erase-all-button {
    font-size: large;
    width: 130px;
    min-height: 40px;
  }

  .board-done-tasks {
    height: auto;
    min-height: 190px;
    width: 40%;
  }
  
  .board-done-tasks-active {
    height: auto;
    min-height: 190px;
    width: 40%;
  }
  
  .board-done-title {
    font-size: 40px;
  }
  
  .board-done-head {
    font-size: 25px;
  }
  
  .board-how-many-tasks-done-text {
    font-size: 20px;
  }  
}

@media screen and (min-width: 900px) {
  .wrapper-todo-board {
    margin-top: 125px;
  }
  
  .board-todo-title {
    font-size: 45px;
  }
  
  .board-todo-head {
    font-size: 30px;
  }
  
  .board-todo-tasks {
    height: auto;
    min-height: 190px;
    width: 40%;
  }
  
  .board-todo-tasks-active {
    height: auto;
    min-height: 290px;
    width: 40%;
  }
  
  .erase-all-button {
    font-size: x-large;
    width: 170px;
    min-height: 40px;
  }

  .board-done-tasks {
    height: auto;
    min-height: 290px;
    width: 40%;
  }
  
  .board-done-tasks-active {
    height: auto;
    min-height: 190px;
    width: 40%;
  }
  
  .board-done-title {
    font-size: 45px;
  }
  
  .board-done-head {
    font-size: 30px;
  }
  
  .board-how-many-tasks-done-text {
    font-size: 20px;
  }  
}

@media screen and (min-width: 1280px) {
  .wrapper-todo-board {
    margin-top: 175px;
  }
  
  .board-todo-title {
    font-size: 55px;
  }
  
  .board-todo-head {
    font-size: 40px;
  }
  
  .board-todo-tasks {
    height: auto;
    min-height: 190px;
    width: 40%;
  }
  
  .board-todo-tasks-active {
    height: auto;
    min-height: 290px;
    width: 40%;
  }
  
  .erase-all-button {
    font-size: xx-large;
    width: 190px;
    min-height: 50px;
  }

  .board-done-tasks {
    height: auto;
    min-height: 290px;
    width: 40%;
  }
  
  .board-done-tasks-active {
    height: auto;
    min-height: 190px;
    width: 40%;
  }
  
  .board-done-title {
    font-size: 55px;
  }
  
  .board-done-head {
    font-size: 40px;
  }
  
  .board-how-many-tasks-done-text {
    font-size: 30px;
  }  
}

@media screen and (min-width: 1680px) {
  .wrapper-todo-board {
    margin-top: 375px;
  }
}